* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid; 
  grid-template-columns: 0.5fr 5.5fr; 
  grid-template-rows: .5fr 5.5fr 0.25fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header"
    "sidenav main"
    "footer footer"; 
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.timeDiv{
  margin-left: auto;
}

.logo {
  height: 100%;
}
nav { 
  grid-area: sidenav; 
  display: flex;
  flex-direction: column;
}
footer { 
  grid-area: footer; 
  display: flex;
  justify-content: center;
}
main { 
  grid-area: main; 
}

.content{
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr 3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "projectnav projectnav"
    "dates categories"; 
  grid-area: main; 
}
.projectNav { 
  grid-area: projectnav; 
  display: flex;
}
.dateNav { grid-area: dates; }
.categoryNav { grid-area: categories; }